body {
    margin: auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 200px;
}

#container {
    margin: auto;
    margin-top: 10px;
    height: 50px;
    width:300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.ld {
    margin: auto;
    height: 100%;
    width: 40%;
    background-color: wheat;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing:5PX;
    cursor:pointer;
    padding: 10px;
    border-radius: 3px;
}

.liked {
    background-color: green;
    color:white;
}

.disliked {
    background-color: red;
    color:white;
}

#likespan {
    color: green;
}

#dislikespan {
    color: red;
}

